body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  
    min-height: 100vh;
  }
  
  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px; /* Espacio entre el icono y el texto */
  }
  
  
  header {
    background-color: #333;
    color: white;
    padding: 3px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
  }
  
  nav ul li {
    padding: 10px 0; /* Ajusta este valor para cambiar el grosor vertical */
    width: 9%;
    text-align: center;
  }
  
  nav ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center; /* Centra verticalmente */
    justify-content: center;

  }
  


  
  main {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  #footer-contacto,
  #footer-direccion {
    font-size: 15px;
    color: #d0ff26;
    margin: 10px;
  }
  #titulo-principal {
    font-size: 25px;
  }
  
  .hamburger {
    position: absolute;
    top: 14px;
    right: 5px;
    background: none;
    border: none;
    color: rgb(251, 184, 17);
    font-size: 25px;
    cursor: pointer;
  }
  
  #div-examenes {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto al centro */
  }
  
  #div-button-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en múltiples líneas */
    justify-content: space-around; /* Distribuye los botones uniformemente */
    align-items: center; /* Centra verticalmente los botones */
  }
  
  .button-option,
  .button-complement {
    height: 100px;
    width: calc(
      33.33% - 20px
    ); /* Ancho calculado para tres columnas con espacio entre ellos */
    margin: 20px 10px;
    background-color: white;
    color: rgb(0, 33, 33);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .button-option:hover,
  .button-complement:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: gainsboro;
  }
  li:hover {
    background-color: rgb(59, 59, 59); /* Verde más oscuro */
  }
  
  .button-option,
  .button-complement {
    display: flex;
    align-items: center;
    font-size: 16px; /* Ajusta el tamaño según tu preferencia */
  }
  
  .button-emoji {
    margin-right: 10px; /* Espacio entre el emoji y el texto */
    font-size: 40px; /* Asegúrate de que el tamaño del emoji sea coherente */
  }
  
  .button-emoji-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ajusta el ancho según sea necesario */
    text-align: center;
  }
  
  .div-questionBox {
    background-color: rgb(243, 242, 242);
    min-height: 100px; /* Ajusta según sea necesario */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .options,
  .options2 {
    margin: 20px 30% 20px 25%;
    padding: 10px;
    word-wrap: break-word; /* Permite que el texto se divida en líneas si es necesario */
  }
  
  .options:hover {
    background-color: hsl(0, 10%, 90%);
  }
  
  .options2:hover {
    background-color: hsl(0, 10%, 90%);
  }
  
  .div-questionText {
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    color: #0f087c;
  }
  
  .buttonQuestion {
    width: auto;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .selected {
    background-color: rgb(156, 164, 157);
  }
  
  .selected:hover {
    background-color: rgb(156, 164, 157);
  }
  
  .result {
    pointer-events: none;
  }
  
  /*Modal**/
  .myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 15px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .closeBtn {
    float: right;
    cursor: pointer;
  }
  
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .text-input {
    margin: 5px 5px 10px auto;
  }
  
  .input {
    width: 100%;
    height: 70px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .acceptBtn {
    background-color: #4caf50;
    color: white;
    font-size: 15px;
    width: 85px;
    height: 35px;
    border: none;
  }
  
  .acceptBtn:hover {
    background-color: #007406;
    color: white;
  }
  
  .cancelBtn {
    background-color: #eb402a;
    color: white;
    font-size: 15px;
    width: 85px;
    height: 35px;
    border: none;
  }
  
  .cancelBtn:hover {
    background-color: #d50303;
    color: white;
  }
  
  /*Fin del Modal**/
  
  .configModal {
    display: none;
    position: fixed;
    z-index: 1; /* Asegúrate de que este valor sea suficientemente alto */
    left: 0;
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajusta para centrar exactamente */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  #countdown {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .slider-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .div-input {
    display: inline;
  }
  input[type="range"] {
    width: 100%;
    max-width: 400px;
  }
  
  #btn-send {
    background-color: #4caf50;
    color: white;
    font-size: 15px;
    width: 120px;
    height: 35px;
    border: none;
    margin-right: 10px;
  }
  
  #btn-send:hover {
    background-color: #007406;
  }
  
  #btn-exit {
    background-color: #eb402a;
    color: white;
    font-size: 15px;
    width: 120px;
    height: 35px;
    border: none;
  }
  
  #btn-exit:hover {
    background-color: #d50303;
  }
  
  #btn-clearItem {
    background-color: #8417f1;
    color: white;
    font-size: 15px;
    width: 250px;
    height: 35px;
    margin: 8px 8px 8px 0px;
    border: none;
  }
  
  #btn-clearItem:hover {
    background-color: rgb(88, 1, 112);
  }
  
  #btn-next {
    background-color: #4d41ff;
    color: white;
    font-size: 15px;
    width: 250px;
    height: 35px;
    margin: 8px 8px 8px 0px;
    border: none;
  }
  
  #btn-next:hover {
    background-color: rgb(58, 53, 212);
  }
  
  .div-c {
    display: flex;
    justify-content: center;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
  /*  nav {
      display: none;
    }*/
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      width: 100%;
      text-align: center;
      padding: 15px 0; /* Ajusta este valor para cambiar el grosor vertical */
    }
  
    footer {
      padding: 20px 0;
    }
  
    .button-option,
    .button-complement {
      width: 95%;
    }
  
    .options,
    .options2 {
      margin: 20px 15% 20px 15%;
    }
  
    .div-input {
      display: inline-block;
    }
  
    #btn-send {
      width: 100%;
      margin-bottom: 10px;
    }
  
    #btn-exit {
      width: 100%;
    }
    #btn-clearItem {
      width: 80%;
    }
  }
  
  /**Inicio graficos*/
  
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow-x: auto; /* Habilitar desplazamiento horizontal si es necesario */
    padding: 10px; /* Agregar padding para no tocar los bordes */
  }
  
  .donut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Reducir el ancho de los gráficos si es necesario */
    margin: 30px;
  }
  
  .donut-chart {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .donut-ring {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#54c8ff 0% 70%, #ececec 70% 100%);
    position: relative;
  }
  
  .donut-hole {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .donut-percent {
    font-size: 1em; /* Ajustar el tamaño del texto */
    font-weight: bold;
    color: #333;
  }
  
  .donut-title {
    margin-top: 10px;
    font-size: 0.9em; /* Ajustar el tamaño del título */
    font-weight: bold;
    color: #333;
    text-align: center; /* Alinear el texto al centro */
    word-wrap: break-word; /* Permitir saltos de línea para palabras largas */
    white-space: normal; /* Asegurar que el texto se ajuste a las líneas del contenedor */
    word-break: normal; /* No romper palabras largas, solo hacer saltos de línea entre palabras */
  }
  
  .noselect {
    user-select: none; /* Evita que se pueda seleccionar texto */
    -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari, etc.) */
    -moz-user-select: none; /* Para navegadores Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
  }
  
  #article1 {
    background-color: rgb(244, 244, 244);
    padding: 1px 5px 2px 8px;
    border-radius: 5px; /* Agrega bordes curvos */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en pantallas pequeñas */
  }
  
  .card {
    width: 45%;
    padding: 20px;
    height: 45%;
    padding-bottom: 5px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover; /* Ajusta la imagen al tamaño de la tarjeta */
  }
  
  .card-content {
    padding: 15px;
    padding-bottom: 5px;
  }
  
  .card-h2 {
    margin-top: 0;
    color: #333;
  }
  
  .card-p {
    color: #555;
  }
  
  /*
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  p {
    color: #555;
  }*/
  
  @media (max-width: 913px) {
    .card {
      width: 100%;
      margin-bottom: 20px; /* Espacio entre las tarjetas en pantallas pequeñas */
    }
  }
  
  @media (max-width: 768px) {
    #footer-contacto,
    #footer-direccion {
      font-size: 13px;
    }
  
    .donut-container {
      width: 80%; /* Ajustar el ancho en pantallas pequeñas */
      margin: 20px;
    }
  
    .donut-chart {
      width: 150px;
      height: 150px;
    }
  }
  /**Fin de los graficos*/
  
  /*Inicio resultado aleatorio*/
  
  /*Fin resultado*/
  
  .ico-p {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    font-size: 15px;
    color: #333;
    margin-bottom: 0;
  }
  
  .card-p img {
    margin-right: 8px; /* Espacio entre la imagen y el texto */
    width: 22px;
    height: 22px;
    border-radius: 50%; /* Hace la imagen circular si es necesario */
    margin-bottom: 0;
  }
  #whatsApp-span {
    color: #00c70a;
  }
  .img-icon {
    margin-left: 0px; /* Espacio entre el texto y el ícono de WhatsApp */
    margin-bottom: 0;
    width: 22px;
    height: 22px;
  }
  .card-p a {
    margin-left: 0px; /* Espacio entre el icono y el texto */
    text-decoration: none;
    color: #007bff; /* Color de enlace azul */
  }
  
  .card-p a:hover {
    text-decoration: underline;
  }
  
  /**/
  
  .servicio1 {
    background-color: rgb(244, 234, 234);
  }
  
  .servicio2 {
    background-color: rgb(158, 255, 62);
  }
  
  .servicio3 {
    background-color: rgb(255, 132, 150);
  }
  .m1:hover {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    background-color: rgb(244, 234, 234);
  }
  
  .m2:hover {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    background-color: rgb(158, 255, 62);
  }
  
  .m3:hover {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    background-color: rgb(255, 132, 150);
  }
  .elegant-list li::before {
    content: "\2022"; /* Punto personalizado (puedes cambiarlo por otro símbolo) */
    position: absolute;
    left: 0;
    color: #007bff; /* Color del icono */
    font-size: 20px; /* Tamaño del icono */
  }
  
  #article2 {
    display: block; /* Para visualizar el artículo por defecto, cambia a 'none' si es necesario */
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  #article2 div {
    margin-bottom: 20px;
  }
  
  #article2 h2 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
  }
  
  #article2 p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
  }
  
  #article2 b {
    color: #d9534f; /* Cambia el color del texto en negrita */
  }
  
  #article2 a {
    color: #007bff;
    text-decoration: none;
  }
  
  #article2 a:hover {
    text-decoration: underline;
  }

  

  
.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
  border-radius: 8px;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
  border-radius: 8px;

}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}


.showAnswer:hover{
  background-color: rgb(255, 253, 124);

}